div.basic-setting{
  .basic-info p {
    line-height: 30px;
    text-align: left;
  }
  .basic-avatar p {
    line-height: 60px;
  }
  .save-button {
    margin-top: 10px;
    text-align: center;
    button {
      &:focus {
        outline: none;
      }
    }
  }
}

table.paperList {
  text-align: center;
  th{
    text-align: center;
  }
}

button.addPaper{
  float: right
}